.menuSiteImages img {
    display : none;
}
.menuBreakFastTitle p {
    margin: 0;
    font-size: 18px;
}
.menuBreakFastTitle {
    padding-top: 50px;
}
.menuBreakFastTitle img {
    padding: 15px 0px;
}
/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .menuSiteImages img {
        display : block;
    }
}

/** X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/** XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}