.popularDishTexts {
    padding-top: 50px;
}
.popularDishTexts {
    text-align: center;
}
.popularDishTexts p {
    margin: 0;
    font-size: 22px;
}
.popularDishTexts img {
    padding : 15px 0px;
}
.topDishWrapper {
    padding: 15px 0px;
}

/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .popularDishTexts {
        padding-bottom: 50px;
    }
}

/** X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/** XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}