.cardWrapper {
    box-shadow: 0px 8px 12px -5px lightgray;
    border: 0px solid #e7e7e7;
    border-radius: 100px 0px 623px 77px / 0px 50px 128px 58px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.cardTexts h4 {
    font-weight: 400;
}
.cardTexts h4:hover {
    color : #ff6426;
}
.cardTexts p {
    font-size: 20px;
    font-weight: 400;
}
