.historyTitleTexts {
    padding-top: 50px;
}
.historyTitleTexts p{
    margin: 0;
    font-size: 22px;
}
.historyTitleTexts img {
    margin-top: 15px;
}
.historyTexts h4 {
    padding-bottom: 15px;
}
.historyTexts p {
    font-size: 18px;
}
