/* .infoWrapper {
   display : none;
} */

/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .infoWrapper {
        display : block;
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .infoWrapper {
        padding-top: 100px;
    }
}

/** X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .infoWrapper {
        padding-top: 120px;
    }
}

/** XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}